html {
    font-size: 10px;
}

header {
    height: 60px;
}

nav {
    font-size: 1.8rem;
    font-weight: 800;
    padding: 2rem;
    justify-content: space-evenly;
}

body {
    height: 100%;
}

main {
    height: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    padding-top: 10%;
}

h1 {
    font-size: 5rem;
    font-weight: 750;
    line-height: 2em;
}

h2 {
    font-size: 3rem;
    line-height: 2em;
}

h3 {
    font-size: 1.5rem;
}

article {
    align-items: center;
}

article p {
    font-size: 1.6rem;
    line-height: 2em;
    padding: 1rem;
    text-align: center;
}

footer {
    height: 60px;
    justify-content: center;
    align-items: center;
}

.hlClr {
    background-color: yellow;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.col {
    display: flex;
    flex-flow: column nowrap;
}

#hs {
    height: 35px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: rgb(247, 103, 203)
}

#home {
    padding: 0.6rem;
    text-align: center;
    height: 35px;
    width: 90px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 800;
    background-color: rgb(103, 194, 247);
    text-decoration: none;
}

#timer {
    height: 35px;
    border-radius: 10px;
    padding: 0.6rem;
    border: 2px solid black;
}

#start {
    height: 50px;
    width: 150px;
    margin: 2rem;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(15, 240, 15);
    box-shadow: -3px 3px 5px;
}

#options button {
    height: 50px;
    width: 200px;
    background-color: rgb(247, 214, 172);
    font-size: 1.6rem;
    text-align: left;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}

/* why doesn't the id "initials" work for styling this text input? */
input {
    height: 30px;
    width: 100px;
    padding: 12px 10px;
    margin: 8px 0;
    font-size: 1.6rem;
    border: 2px solid black;
    border-radius: 4px;
}

#submitBtn {
    height: 30px;
    width: 70px;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: aqua;
    font-weight: bold;
    font-size: 1.7rem;
}

#initialsForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 1rem;
}

/* */